/* main document body, main font style, background image,scrollbars, etc. */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding:0px;
	scroll: auto;

	font-family: verdana, arial, tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000088;
}

/* default table design */
table {
	font-family: verdana, arial, tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
/* main table used by the main frame template */
table.main {
	border: none;
	border-width: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

header_row {
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	color: #546D8F;
	border-bottom: 2px dotted blue;
}

/* table used as frames for other tables */
table.frame {
	background-color: #999999;
}
/* general title row or bar, used for the main page header block or tool bar
*  where the 3 buttons "return","help","close" are located
*/
.titlebar {
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	color: #546D8F;
	height: 20px;
	border-bottom: 2px dotted blue;
}

table.tdata {
	border: 1px black solid;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 0px;
	empty-cells: show;
}

table.tdata td {
	border: 1px dotted black;
	height: 20px;
	font-size: 11pt;
}

table.tdata th {
	border-bottom: 2px solid black;
	background-color: #BEC8D1;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
}


table_data	{
	border: 1px black solid;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-top: 0px;
	empty-cells: show;
}

	table.tdata td {border: 1px dotted black;height: 20px;font-size: 11pt;}

	table.tdata th
	{	border-bottom: 2px solid black;
		background-color: #BEC8D1;
		font-family: Verdana;
		font-weight: bold;
		text-align: center;
	}



.page_title {
	font-size: 18px;
	font-weight: bold;;
}

/* Highlights an item or block */
.hilite {
	background-color: yellow;
}
/* submenus item link */
.submenu_item{
	font-weight: bold;
}
/* submenu's usual tbody */
.submenu{
	background-color: #ffffee;
}

/* current selected sub menu*/
.submenu_selected{
	background-color: #eeeeee;
}

/* submenu's usual frame table */
.submenu_frame {
	background-color: #999999;
	width:auto;
}
/* submenu's title usually used in "OR", "Ambulatory", submenus */
.submenu_title {
	background-color: #dddddd;
	font-size: 14px;
	font-weight: bold;
	color: maroon;
}
/* -- Submenu block title bar. Usually used in ward/clinic list modules -- */
.submenu2_titlebar {
	background-color: #999999;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
/* -- Submenu block listed items. Usually used in ward/clinic list modules -- */
.submenu2_list {
	background-color: #dddddd;
	font-size: 10px;
}
/* -- Submenu block body. Usually used in ward/clinic list modules -- */
.submenu2_body {
	background-color: #dddddd;
	font-size: 12px;
}
/* -- Submenu block body. Usually used in ward/clinic list modules -- */
.submenu2_body2 {
	background-color: #ffffcc;
	font-size: 10px;
}
/* -- Submenu block title bar. Usually used in tech modules -- */
.submenu3_titlebar {
	background-color: green;
	font-size: 12px;
	font-weight: bold;
	color: white;
}
/* -- Submenu block body. Usually used in tech modules -- */
.submenu3_body {
	background-color: #ffffcc;
	font-size: 10px;
	color: #000099;
}
/* -- Verical column spacer  of a table. Usually used in submenu lists -- */
td.vspace {
	background-color: #dddddd;
}
ul {
	margin-left: 20px;
}
/* -- Password check page bounding border around the input area */
.passborder{
	background-color: #333399;
}
/* -- Password check input area -- */
.passbody{
	background-color: #DDE1EC;
}
/* -- Password check inner block area -- */
.passmask{
	background-color: #eeeeee;
	margin: 0px;
}
/* -- Password check inner block frame bounding frame - */
.passmaskframe{
	background-color: #999999;
	margin: 0px;
}
/* -- Casual dialog, instructions, prompt message -- */
.prompt{
	color: maroon;
	font-size: 16px;
	font-weight: bold;
}
/* -- Warning message -- */
.warnprompt{
	color: red;
	font-size: 18px;
	font-weight: bold;
}
/* -- Copyright -- */
.copyright {
	font-size: 9px;
}
/* -- Ward or clinic name -- */
.wardname{
	font-weight: bold;
	color: green;
}
/* -- ward lists item row -- */
.wardlistrow1{
	background-color: #efefef;
}
/* -- ward lists item  alternate row -- */
.wardlistrow2{
	background-color: #dcdcdc;
}
.thinrow_vspacer{
	height: 1px;
	background-color: #0000ee;
}
/* -- ward lists title row -- */
.wardlisttitlerow{
	background-color: cyan;
}
/* -- photo id block -- */
.photo_id{
	background-color: #DDE1EC;
	border: 1px solid #999999;
}
/* -- Person registration divider block, usually the horizontal bar below the tabs -- */
.reg_div{
	background-color: #66ee66;
	height: 5px;
	border-bottom: 1px solid green;
}
/* -- Person registration form item area -- */
.reg_item{
	/* background-image: url(/gui/img/skin/default/tableheader_gr.gif);*/
	background-color: #eeeeee;
	padding: 2px 6px 2px 6px;
	border-bottom: 1px solid white;
}
/* -- Person registration form input area -- */
.reg_input{
	background-color: #ffffee;
	padding-left: 6px;
	border-bottom: 1px solid white;
}
.reg_list_titlebar{
	background-color: #66ee66;
	color: #000066;
}
/* -- Admission form item area -- */
.adm_item{
	background-color: #eeeeee;
	padding: 2px 6px 2px 6px;
	border-bottom: 1px solid white;
}
/* -- Admission forms input area -- */
.adm_input{
	background-color: #ffffee;
	padding-left: 6px;
	border-bottom: 1px solid white;
}
/* -- admission divider block, usually the horizontal bar below the tabs -- */
.adm_div{
	background-color: #00009c;
	height: 5px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
/* -- Admission list title row --*/
.adm_list_titlebar{
	background-image: url(../../../gui/img/skin/default/tableHeaderbg3.gif);
}
/* for very important data to hilight e.g. first name, last name, bday */
.vi_data{
	font-weight: bold;
	color: maroon;
	padding: 2px 6px 2px 6px;
}
/* -- horizontal line -- */
hr {
	line-height: 1px;
	color: teal;
}
/* elements, areas of saturday */
.saturday{
	background-color: #ffffcc;
	padding-left: 6px;
	padding-right:6px;
}
/* elements, areas of sunday */
.sunday{
	background-color: #ffff00;
	color: red;
	padding-left: 6px;
	padding-right:6px;
}
.yellow { color:#FFD801;}
.green { color:#008000;}
/* elements, areas of a weekday */
.weekday{
	background-color: white;
	padding-left: 6px;
	padding-right:6px;
}
/* ---------- Form elements ---------------*/
.form_element{
	background: white;
	border: 1px solid silver;
	padding: 2px;
	color: black;
	margin-left: 5 px;
}
/*----- Registration search mask */
.reg_searchmask{
	background-color: #f3f3f3;
}
/*----- Registration search bordering block */
.reg_searchmask_border{
	background-color: #66ee66;
}
/*----- Admission search mask */
.admit_searchmask{
	background-color: #f3f3f3;
}
/*----- Admission search bordering block */
.admit_searchmask_border{
	background-color: #6666ee;
}
.searchmask_border{
	background-color: #6666ee;
}
/* ---------- Links. Note: link colors are overridden by the user configuration ----*/
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration: underline; color: red;}
a:active {text-decoration: none;}

.white-font-18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
}


.caption-display {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #000000;
	text-decoration:none ;
	padding-left: 10px;
}

.input-box-border {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4E4E4E;
	text-decoration: none;
	margin: 0px;
	border: 1px solid #88A3D9;
}


.input-box-grey-border {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4E4E4E;
	text-decoration: none;
	margin: 0px;
	border: 1px solid #CCCCCC;
}

.form-detail-data {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:lighter;
	color: #3C3C3C;
	text-decoration: none;
	padding-left: 0px;
}

.form-detail-small-data {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:lighter;
	color: #3C3C3C;
	text-decoration: none;
	padding-left: 0px;
}

.form-caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color: #3C3C3C;
	text-decoration: none;
	padding-left: 10px;
}

.bordr-thick-top-bottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #939598;
	border-right-color: #939598;
	border-bottom-color: #939598;
	border-left-color: #939598;
}

/* -- lists item row -- */
.odd{
	background-color: #efefef;
}
/* --lists item  alternate row -- */
.even{
	background-color: #dcdcdc;
}

.headerrow { background-color: #3366FF; }

.selectedrow { background-color: #99FF00; }

.highlightrow { background-color: #FFFF00; }

.notes_row{
	background-color: #99ccff;
}

.notes_item{
	padding: 2px 6px 2px 6px;
	border-bottom: 1px solid white;
	font-size: 12px;
}

h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	margin: 2px;
}

.tabOn {
	text-align: center;
	padding: 3px;
	border: 1px solid #333399;
	border-bottom: 0px;
	border-left: 0px;
	background-color: #FFFFFF;
}
.tabOff {
	text-align: center;
	padding: 3px;
	border: 1px solid #333399;
	border-top: 0px;
	border-left: 1px solid #FFFFFF;
	background-color: #E6E6E6;
}

.tabBdr {
	border-bottom: 1px solid #333399;
	background-color: #E6E6E6;
}

.paddedTab { width: 115px; }

.mand {
	font-weight: bold;
	color: #CC0000;
}

.tblHdr {
	text-align: center;
	vertical-align: top;
	padding: 1px;
	border-bottom: 1px solid #333399;
	margin-bottom: 0px;
	background-color: #E6E6FF;
}

.altRow {
	background-color: #F0F0F0;
}

.red {
	color: #FF0000;
}

.lockRow {
	background-color: #C3FDB8;
}

.h2 {
	font-size: 16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
}

.strike {
	text-decoration: line-through;
	background-color: #F9966B;
}

.inputreq{
	background-color: red;
}

.inputReqErr{
	font-weight: bold;
	color: #F9966B;
}

.icon-save {background-image:url(../../../gui/img/icons/save.gif) !important;}
.icon-search {background-image:url(../../../gui/img/icons/search.png) !important;}
.icon-table_refresh {background-image:url(../../../gui/img/icons/table_refresh.png) !important;}
.icon-merge {background-image:url(../../../gui/img/icons/merge_icon.png) !important;}
.icon-add {background-image:url(../../../gui/img/icons/add.gif) !important;}
.icon-delete {background-image:url(../../../gui/img/icons/delete.gif) !important;}
.icon-plugin {background-image:url(../../../gui/img/icons/plugin.gif) !important;}
.icon-print {background-image:url(../../../gui/img/icons/print.png) !important;}
.icon-warning {background-image:url(../../../gui/img/icons/warning.gif) !important;}
.icon-load {background-image:url(../../../gui/img/icons/load.jpg) !important;}
.icon-copy {background-image:url(../../../gui/img/icons/copy.gif) !important;}


.icon-appointment {background-image:url(../../../gui/img/common/default/appointments.png) !important;}
.icon-admission {background-image:url(../../../gui/img/common/default/Admission.png) !important;}
.icon-enc_list {background-image:url(../../../gui/img/common/default/Encounter-lists.png) !important;}
.icon-pat_reg {background-image:url(../../../gui/img/common/default/Patient-Registration.png) !important;}
.icon-insurance {background-image:url(../../../gui/img/common/default/Insurance-Details.png) !important;}
.icon-access {background-image:url(../../../gui/img/common/default/Message-portal.png) !important;}
.icon-notes-reports {background-image:url(../../../gui/img/common/default/Notes-&-Reports.png) !important;}
.icon-attachment {background-image:url(../../../gui/img/common/default/Attachments.png) !important;}
.icon-rec-history {background-image:url(../../../gui/img/common/default/DB-Records-History.png) !important;}
.icon-pdf {background-image:url(../../../gui/img/common/default/Make-PDF-document.png) !important;}

/******************by nadeem(17-04-2013)********************/
/*ol, ul {
	  list-style: none;
	  margin: 0px;
	  padding:0px;
	}

ul li {
	  margin: 0;
	  padding: 0;
	}
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
	}

.pie {
	behavior:url(../../../gui/img/common/default/PIE.htc);
	}

#wrapper_message {
	width: 1246px;
	margin: 0 auto;
	padding: 50px 0 0 0;
	font-family: Verdana, Geneva, sans-serif;
	}

#main_message {
	width: 1097px;
	float: right;
	}

.leftaside {
	width: 149px;
	float: left;
	}
.compose {
	float:right;
	background-color: #99ccff;
	border-radius: 6px 6px 0 0;
	behavior:url(../../../gui/img/common/default/PIE.htc);
	width:85%;

	}
.compose ul {

	}

.compose ul li {

	}

.compose ul li a {
	padding: 8% 18% 8% 35%;
	text-decoration:none;
	color: #000066;
	font-size: 12px;
	text-shadow: 1px 1px #d9ebff;
	background-image: url(../../../gui/img/common/default/compose-icon.png);
	background-repeat: no-repeat;
	background-position: 16%;
	display:block;
	}

.left_links {
	border-top: solid 1px #dfdfdf;
	clear:both;
	}

.left_links a {
	color:#000066;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
	text-shadow:1px 1px #f7fafe;
	padding:6% 0 6% 22%;
	display:block;
	}

.left_links a:hover {
	background-color:#ecf3fa;

	}

.left_links a.active {
	background-color:#e0edfa;
	}

.left_graphic{
	width:100%;
	}

.top_right_buttons{
	float:left;
	width:97%;
	margin-left:3%;
	}

.delete_button{
	float:left;
	}

.delete_button a{
	text-decoration:none;
	color: #757575;
	font-size: 12px;
	background-image: url(../../../gui/img/common/default/delete-icon.png);
	background-repeat: no-repeat;
	background-position: 13%;
	display:block;
	font-weight: bold;
	border-radius:3px;
	border: solid 1px #e0e0e0;
	background-color:#f7f7f7;
	padding: 8px 8px 8px 30px;
	}

.delete_button a:hover{
	background-color:#f3f3f3;
	}

.delete_button_record {
	text-decoration:none;
	color: #757575;
	font-size: 12px;
	background-image: url(../../../gui/img/common/default/delete-icon.png);
	background-repeat: no-repeat;
	background-position: 13%;
	display:block;
	font-weight: bold;
	border-radius:3px;
	border: solid 1px #e0e0e0;
	background-color:#f7f7f7;
	padding: 8px 8px 8px 30px;
	}

.delete_button_record:hover{
	background-color:#f3f3f3;
	}

.more_button{
	float:left;
	margin-left:1%;
	}

.more_button a{
	text-decoration:none;
	color: #757575;
	font-size: 12px;
	display:block;
	font-weight: bold;
	border-radius:3px;
	border: solid 1px #e0e0e0;
	background-color:#f7f7f7;
	padding: 8px;
	}

.more_button a:hover{
	background-color:#f3f3f3;
	}

.more_button_submit{
	text-decoration:none;
	color: #757575;
	font-size: 12px;
	font-weight: bold;
	border-radius:3px;
	border: solid 1px #e0e0e0;
	background-color:#f7f7f7;
	padding: 8px;
	}

.more_button_submit:hover{
	background-color:#f3f3f3;
	}

.search_feild{
	float:left;
	margin-left:2%;
	}
.search_feild input{
	border-radius:3px;
	border:solid 1px #e0e0e0;
	width: 400px;
	height:30px;
	color:#c9c9c9;
	padding-left:2%;
	}

.search_feild input:focus{

	border:solid 1px #99ccff !important;
	}

.content{
	border: solid 1px #dfdfdf;
	width:100%;
	float:left;
	margin: 2px 0 0 -1px;
	}

.title_bar{
	width:100%;
	background-color:#f2f2f2;
	border-top:solid 1px #f8f8f8;
	border-bottom:solid 1px #dfdfdf;
	float:left;
	}

.title_bar ul li{
	float:left;
	border-left:solid 1px #dfdfdf;
	background-image: url(../../../gui/img/common/default/title-graphic.png);
	background-repeat: no-repeat;
	background-position: 8px 9px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#000066;
	border-left:solid 1px #dfdfdf;
	height:30px;
	line-height:28px;
	text-indent:28px;
	margin-left:-1px;
	}

.display_data{
	float:left;
	width:100%;
	}

.display_data ul{
	width:100%;
	float:left;
	background-color:#f9f9f9;
	border-bottom:solid 1px #dfdfdf;
	}

.display_data ul.active{
	background-color:#eff4f9;
	}

.display_data ul li{
	float:left;
	margin-left:7px;
	margin-right: 7px;
	line-height:27px;
	color:#555555;
	font-size:11px;
	}
.display_data ul li a{
	color:#555555;
	font-size:11px;
}
.display_data_checkbox{
	margin: 7px 0 0 7px !important;
	line-height:0 !important;

	}

/*CSS MAKE CHANGES ON 7 MAY 2013*/

.from_detail{
	width:150px;
	}
.subject_detail{
	width:197px;
	}

.subject_detail span{
	font-weight:normal;
	}

.active_detail{
	width:85px;
	}

.status_detail{
	width:79px;
	}

.messagetype_detail{
	width:127px;
	}

.requeststatus_detail{
	width:134px;
	}

.messagestatus_detail{
	width:133px;
	}

.datetime_detail{
	width:95px;
	font-size:10px !important;
	font-weight:normal !important;
	line-height:13px !important;
	padding-top:1px;
	}


.parent_ul_processed .from_detail{
	width:110px;
	}
.parent_ul_processed .subject_detail{
	width:197px;
	}

.parent_ul_processed .subject_detail span{
	font-weight:normal;
	}

.parent_ul_processed .active_detail{
	width:85px;
	}

.parent_ul_processed .status_detail{
	width:79px;
	}

.parent_ul_processed .messagetype_detail{
	width:115px;
	}

.parent_ul_processed .requeststatus_detail{
	width:75px;
	}

.parent_ul_processed .messagestatus_detail{
	width:120px;
	}

.parent_ul_processed .datetime_detail{
	width:110px;
	font-size:10px !important;
	font-weight:normal !important;
	line-height:13px !important;
	padding-top:1px;
	}


.title_checkbox{
	float:left;
	border-left:solid 1px #dfdfdf;
	height:30px;
	line-height:30px !important;
	text-indent:7px;
	margin-left:-1px;
	width:25px;
	}

.message_from{
	float:left;
	border:none!important;
	background-image: none !important;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000066;
	height:30px;
	line-height:28px;
	}

/*CSS CHANGES ON 5 JUNE 2013*/

.pagination{
	width:100%;
	height: 32px;
	background-color:#f2f2f2;
	color:#000066;
	font-size:11px;
	text-align:center;
	}

/*CSS ADDED ON 18 APRIL*/
#pagination{
	width:100%;
	height: 32px!important;
	background-color:#f2f2f2;
	text-align:center;
	}

#pagination ul{
	margin:0 !important;
	padding:0!important;
	background-color:transparent;
	border:none;

	}

#pagination ul li{
	margin:0 !important;
	padding:0!important;
	float:none;
	display:inline;
	line-height:29px;


	}

#pagination ul li a{
	color:#000066;
	font-size:11px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	padding:0 12px 0 12px;

	}

.bottom_button{
	float:left;
	margin:5px 0 5px 5px;
	}

.bottom_button a{
	text-decoration:none;
	color: #000066;
	font-size: 12px;
	display:block;
	font-weight: bold;
	border-radius:3px;
	border: solid 1px #73b9ff;
	background-color:#99ccff;
	padding: 7px 9px 7px 9px;
	text-shadow: 1px 1px #d9ebff;
	}

.bottom_button a:hover{
	background-color:#a9d4ff;
	}

.submit_button{
	text-decoration:none;
	color: #000066;
	font-size: 12px;
	font-weight: bold;
	border-radius:3px;
	border: solid 1px #73b9ff;
	background-color:#99ccff;
	padding: 7px 9px 7px 9px;
	text-shadow: 1px 1px #d9ebff;
}

.submit_button:hover{
	background-color:#a9d4ff;
}

.composetitle_bar_wrape{
	width:1088px;
	background-color:#f2f2f2;
	border-top:solid 1px #f8f8f8;
	border-bottom:solid 1px #dfdfdf;
	padding:8px 0 4px 8px;
	float:left;
	}

.composetitle_bar{
	width:438px;
	clear:both;
	}

.composetitle_bar_left{
	float:left;
	width:75px
	}

.composetitle_bar_left .text{
	float:right;
	padding:5px 7px 5px 0;
	color:#000066;
	margin:0 0 0 7px;
	font-weight:bold;
	font-size:11px;
	}

.composetitle_bar_left .graphic{
	float:right;
	background-image: url(../../../gui/img/common/default/title-graphic.png);
	background-repeat: no-repeat;
	height: 12px;
	width: 10px;
	margin-top:6px;
	}
.composetitle_bar_right{
	float:right;
	width:363px;
	margin-bottom:4px;
	}

.composetitle_bar_right input{
	border-radius:3px;
	border:solid 1px #e0e0e0;
	width: 361px;
	height:24px;
	color:#555555;
	padding-left:2%;
	}

.composetitle_bar_right input:focus{
	border:solid 1px #99ccff;
	outline:none;

	}

.compose_area{
	border:none;
	border-right:solid 1px #dfdfdf;
	border-bottom:solid 1px #dfdfdf;
	padding:10px;
	}

.compose_area:focus{
	outline:none;
	}


.message_title{
	background-image: url(../../../gui/img/common/default/title-graphic.png);
	background-repeat: no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#000066;
	line-height: 24px;
	background-position: 9px;
	text-indent: 27px;
	}

.search_feild input:focus{

	border:solid 1px #99ccff;
	outline:none;
	}

/*CSS ADDED ON 19 APRIL 2013*/
.view_messages{
	background-color:#f9f9f9;
	border-bottom:solid 1px #dfdfdf;
	padding:6px;
	font-size:11px;
	color:#555555;
	width:1084px;
	float:left;
	}

.view_messages_read{
	background-color:#eff4f9;
	border-bottom:solid 1px #dfdfdf;
	padding:6px;
	font-size:11px;
	color:#555555;
	width:1084px;
	float:left;
	}

.view_messages_left{
	float:left;
	width:1000px;
	font-size:11px;
	color:#555555;
	padding:5px;
	line-height:15px;
	}

.view_messages_right{
	float:right;
	width:60px;
	}

#reply_btn{
	width:25px;
	height:25px;
	background-image: url(../../../gui/img/common/default/mail_reply.png);
	background-repeat: no-repeat;
	float:left;
	cursor:pointer;
	outline:none;
	border:none;
	background-color:transparent;
	}
#fwd_btn{
	width:25px;
	height:25px;
	background-image: url(../../../gui/img/common/default/mail_fwd.png);
	background-repeat: no-repeat;
	float:left;
	margin-left:10px;
	cursor:pointer;
	outline:none;
	border:none;
	background-color:transparent;
	}
#delete_btn{
	width:25px;
	height:25px;
	background-image: url(../../../gui/img/common/default/message-delete.png);
	background-repeat: no-repeat;
	float:right;
	cursor:pointer;
	outline:none;
	border:none;
	background-color:transparent;
	}


/* Media Queries */
@media screen and (max-width: 480px) {

	header nav, #main_message, aside {
		float: left;
		clear: left;
		margin: 0 0 10px;
		width: 100%;
		}

}

#navlist
{
margin: 0;
padding: 0 0 20px 10px;
border-bottom: 1px solid #000;
}

#navlist ul, #navlist li
{
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}

#navlist a:link, #navlist a:visited
{
float: left;
line-height: 14px;
font-weight: bold;
margin: 0 10px 4px 10px;
text-decoration: none;
color: #999;
}

#navlist a:link#current, #navlist a:visited#current, #navlist a:hover
{
border-bottom: 4px solid #000;
padding-bottom: 2px;
background: transparent;
color: #000;
}

#navlist a:hover { color: #000; }



/*** Tooltips!*/

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 300px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
  font-size: 12px;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 25%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

.header_button{
	background-color: #ffffee;
    border-color: #dddddd;
    border-radius: 19px;
    border-style: solid;
    border-width: 1px;
    font-family: sans-serif,sans-serif;
    font-size: 15px;
    font-weight: inherit;
    height: 20px;
    margin: 0;
    padding: 0;
	width:61px;

}

.admission_button{
	background-color: #157ef0;
    border-color: #dddddd;
    border-radius: 19px;
    border-style: solid;
    border-width: 1px;
    font-family: sans-serif,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    margin: 0;
    padding: 0;
    width: 76px;

}

.inputs {
    width: 270px;
    padding: 15px 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9D9E9E;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

.inputs:focus {
    background: #DFE9EC;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
}

.inputs:hover {
    background: #DFE9EC;
    color: #414848;
}