/* Walgreens Intranet Standard Cascading Style Sheet - Version 1.25 - created 03/12/07 */

/* Added selectors: .ordlist .ordsublist .ordsubsublist */

/* Modified selectors:  */

/* Use H1 for Page Titles, use H2 - H5 for subheadings
If encountering cascading styles problems, the following HTML tags have
styles applied:

	body
	h1-5
	p
	li
	table
	th
	td

Do not override these styles in HTML. Contact the ISG to have the stylesheet modified.
*/

/*  Maximizes screen space - Catch all for loose code that denotes a coding error. */
body {
	font-family: Courier New, Courier, mono;
	color: #FF0000;
	text-align: left;
}

/* Page title */
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #000000;
	padding: 2px;
	margin: 2px 0px 2px 0px;
}
/* Subheading 1 */
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	font-weight: bold;
	color: #000000;
	padding: 2px;
	margin: 3px 0px 0px 0px;
	background-color: #CCCCFF;
}

/* Subheading 2 */
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.88em;
	color: #000000;
	margin: 3px 2px 0px 2px;
}

/* Subheading 3 */
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	font-weight: bold;
	color: #000000;
	margin: 2px;
}

/* Subheading 4 */
h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	font-style: italic;
	color: #000000;
	margin: 2px;
}

/* Subheading 5 */
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	margin: 2px;
}

/* Normal text  */
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 4px 2px 2px 2px;
}

/* Normal text - A substitute text for <p> tag when positioning is awkward - use with <span> tag  or convert an entire table by placing in the <table> tag */
.normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	color: #000000;
}

.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #000000;
}

.inputField {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	font-weight: normal;
}

/* MUST BE CONTAINED BY <ul>, or it will cascade into other classes*/
.list {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	font-weight: normal;
	color: #000000;
	margin:  0px 0px 0px 30px;
	list-style: outside disc;
}

/* MUST BE CONTAINED BY <ul>, or it will cascade into other classes*/
.sublist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	font-weight: normal;
	color: #000000;
	margin: 0px 0px 0px 45px;
	list-style: outside circle;
}

/* MUST BE CONTAINED BY <ul>, or it will cascade into other classes*/
.subsublist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	font-weight: normal;
	color: #000000;
	margin: 0px 0px 0px 60px;
	list-style: outside square;
}

/* MUST BE CONTAINED BY <ol>, or it will cascade into other classes*/
.ordlist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	font-weight: normal;
	color: #000000;
	margin:  0px 0px 0px 30px;
}

/* MUST BE CONTAINED BY <ol>, or it will cascade into other classes*/
.ordsublist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	font-weight: normal;
	color: #000000;
	margin: 0px 0px 0px 45px;
}

/* MUST BE CONTAINED BY <ol>, or it will cascade into other classes*/
.ordsubsublist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	font-weight: normal;
	color: #000000;
	margin: 0px 0px 0px 60px;
}

/* New label for links on hypertext menu - Applies to <span> tag - This is a cascaded size from containing tag - Also used for pilots*/
.new {
	font-size: 0.9em;
	font-weight: bold;
	color: #CC0000;
}

/* New label for inactive links - Applies to <span> tag or <a> tag */
.linkOff {
	color:#666666;
	text-decoration:none;
}

/* Link text without underline for Display Only Forms only - Underline must appear on mouse over links */
/* Depricating this version */
.linkHover {
	color:#0000FF;
	text-decoration:none;
}

/* Link text without underline for Display Only Forms only - Underline must appear on mouse over links */
/* Perferred hover link  */
a.hover {
	text-decoration:none;
}

a.hover:hover {
	text-decoration:underline;
}

/* right align text & numerical values */
.r {
	text-align: right;
}

/* Center align table headers for columns with numerical values */
.c {
	text-align: center;
}

/* Keeps table text vertically aligned - Catch all for loose code */
table {
	vertical-align: top;
	border: 0px;
}

/*  Persistent Nav Tabs */
.navTabOff {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	padding:0px;
	border-bottom: 1px solid #333399;
	background-color: #333399;
	cursor: hand;
}

.navTabOn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #000000;
	text-align: center;
	padding:0px;
	border-bottom: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	cursor: hand;
}

.navTabCurr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #000099;
	text-align: center;
	padding:0px;
	border-bottom: 1px solid #E6E6FF;
	background-color: #E6E6FF;
	cursor: hand;
}

.navSpace {
	font-size: 0.1em;
	border-bottom: 1px solid #333399;
	background-color: #FFFFFF;
}

/* Cascading Drop-Down Menu */
.CM {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	text-align: center;
	color: #000099;
	padding: 0px;
	width: 100%;
	border: 1px solid #333399;
	border-top: 0px;
	background-color: #E6E6FF;
	cursor: hand;
}

.CMOn {
	color: #0000ff;
	background-color: #FFFFF0;
	cursor: hand;
}


.CMOff {
	color: #000099;
	background-color: #E6E6FF;
}

/* Bounding box applied to table tag - last table on screen. Bottom table wall has a border */
.simpleTable {
	border: 1px solid #CCCCFF;
}

/*  Table Header Cell or Row */
th {
	text-align: left;
	vertical-align: middle;
	padding: 1px;
	border-bottom: 1px solid #333399;
	margin-bottom: 0px;
	background-color: #E6E6FF;
}



th1 {
	vertical-align: middle;
	padding: 1px;
	border-bottom: 1px solid #333399;
	margin-bottom: 0px;
	background-color: #E6E6FF;
}


td {
	vertical-align: top;
}

/* Display alternate data rows - Apply to the TR tag, not the TDs */
.altRow {
	background-color: #F0F0F0;
}

.bottomBorder {
	border-bottom: 1px solid #666666;
}

.blankRowBorder {
	border-left: 1px solid #666666;
	border-right : 1px solid #666666;
}

/*  Blue Field and Central Object style applied to the Table tag*/
.fieldBlue{
	padding-left: 3px;
	background-color: #E6E6FF;
}

/*  Grey Field and Central Object style applied to the Table tag */
.fieldGrey{
	padding-left: 3px;
	background-color: #D9D9D9;
}

/* Notebook Tab Active or Selected */
.tabOn {
	text-align: center;
	padding: 3px;
	border: 1px solid #333399;
	border-bottom: 0px;
	border-left: 0px;
	background-color: #FFFFFF;
}
/* Notebook Tabs Inactive or deselected */
.tabOff {
	text-align: center;
	padding: 3px;
	border: 1px solid #333399;
	border-top: 0px;
	border-left: 1px solid #FFFFFF;
	background-color: #E6E6E6;
}

/* Notebook Tab Container */
.tabBdr {
	border-bottom: 1px solid #333399;
	background-color: #E6E6E6;
}

/* Container cell for actual list */
.lm {
	vertical-align: top;
	border-top: 1px solid #333399;
	border-left: 1px solid #333399;
	border-bottom: 1px solid #333399;
	background-color: #E6E6E6;
}

/* List menu right column inactive */
.lmOff {
	text-align: left;
	border-right : 1px solid #333399;
	border-top : 1px solid #E6E6E6;
	border-bottom : 1px solid #E6E6E6;
	background-color: #E6E6E6;
}

/* List menu right column active */
.lmOn {
	border-top : 1px solid #333399;
	border-bottom : 1px solid #333399;
	background-color: #FFFFFF;
}

.alert {
	padding: 2px;
	background-color: #FFCC33;
}

/* Highlight confirmation messages or good data - apply to text or cell */
.good {
	border: 3px double #33CC66;
}

/* Highlight error data - apply to text or cell */
.bad {
	border: 3px solid #CC3333;
}

/* Highlight for attention - apply to text or cell - Last resort, other attention getting devices should be employed first */
.attention {
	border: 3px double #FFCC33;
}

/* Data is not available or not applicable - apply to text or cell */
.NA {
	border: 3px solid #999999;
	background-color: #CCCCCC;
}

/* Highlight warning or missing Data - apply to text or cell */
.warn {
	background-color:#FFFFCC;
}

/* For Mandatory Data - Must be applied to text tag (p, h4, h6, etc.) */
.mand {
	font-weight: bold;
	color: #CC0000;
}

.groupHeaderBG{
	background-color: #CCCCFF;
}

/* Added for table titles and list menu titles */
.eleTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.88em;
	color: #000000;
	margin: 3px 2px 0px 2px;
}

/* Added for field level help feedback messages */
.help {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
	color: #000000;
	border: 2px solid #000099;
	padding:2px;
	width: 20em;
	background-color:#FFFFCC;
}



.expanded {
	display: block;
}

.collapsed {
	display: none;
}

/****************Dashboard Styles.***********************/
.clear{
	clear:both;
	}

#dash_dashboard_wrape{
	margin:0 auto 0 18px;
	font-family:Verdana, Geneva, sans-serif;
	color:#1b3e6d;
	font-size:11px;
	}

.dash_dashboard_headerwrape{
	width:1091px;
	}

.dash_header_leftcontent{
	width:113px;
	height:122px;
	border:solid 1px #d1e1e7;
	background-color:#fbfafb;
	float:left;
	/*background-image:url(../../../gui/img/common/default/header_leftcontent_bg.jpg);*/
	background-attachment: scroll;
	background-repeat:no-repeat;
	background-position:center center;
	}

.dash_header_rightcontent{
	 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffee;
    border-color: #ccccff #ccccff white;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin-left: 5px;
    min-height: 110px;
    padding: 0;
    width: 90%;
	}
.dash_space{
	height:22px;
	clear:both;
	}

.dash_summary_wrape{
	width:1091px;
	}

.dash_summary_pannel{
	width:349px;
	float:left;
	}

.dash_summary_pannel h1{
	width:349px;
	height:33px;
	display:block;
	background-image:url(../../../gui/img/common/default/summary_pannel_heading_bg.png);
	background-repeat:no-repeat;
	background-attachment: scroll;
	color:#FFF;
	font-size:13px;
	line-height:31px;
	text-indent:11px;
	}

.dash_summary_pannel_content{
	background-attachment: scroll;
    background-image: url("../../../gui/img/common/default/summary_pannel_content_bg.png");
    background-repeat: repeat-y;
    padding: 11px 11px 1px;
    width: 327px;
	}

.dash_summary_pannel_content_popup_css{
	width:327px;
	background-image:url(../../../gui/img/common/default/summary_pannel_content_bg.png);
	background-repeat:repeat-y;
	background-attachment: scroll;
	padding:11px 11px 1px 11px;
	}

.dash_summary_pannel_content h2{
	font-size:11px;
	padding-bottom:5px;
	}

.dash_summary_pannel_content ul{
	margin-left:10px;
	* margin-left:17px; /*FOR IE 7*/
	}

.dash_summary_pannel_content ul li{
	list-style-image: url(../../gui/img/common/default/bullet.png);
	margin-bottom:5px;
	}

.dash_summary_pannel_btm_bg{
	height:7px;
	width:349px;
	background-image:url(../../gui/img/common/default/summary_pannel_btm_bg.png);
	background-repeat:no-repeat;
	background-attachment: scroll;
	}

.dash_more_link{
	float:right;
	margin-top:-30px;
	}

.dash_more_link a{
	color:#1b3e6d;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	}

.dash_bottom_content{
	width:1091px;
	}

.dash_bottom_content ul{
	list-style-image: none;
	list-style-type: none;
	text-align:center;
	font-weight:bold;
	}

.dash_bottom_content ul li{
	list-style-image: none;
	list-style-type: none;
	display:inline;
	padding:0 30px 0 30px;
	}

.dash_bottom_content ul li span{
	text-transform:uppercase;
	}

.dash_header_leftcontent img {
	margin-left:30px;
	margin-top:30px;
}
/********End*************/


